.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

mat-card {
    max-width: 400px;
    margin-bottom: 20px;
    img {
        height: 250px;
        object-fit: contain;
    }
    :host {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .demo-section {
        margin-top: 16px;
    }
}

.post-content {
    margin-top: 10px;
}
