<div class="card-container" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <mat-card-header>
            <mat-card-title>
                <span>{{ post.title | titlecase }}</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
            <span>Mis en ligne le {{ post.createdDate | date: 'dd/MM/yy, à HH:mm' }}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <img mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.title">
            <span class="post-content">{{ post.description }}</span>
        </mat-card-content>
        <mat-card-actions class="demo-section">
            <span>{{ post.likes }}</span>
            <button mat-button mat-raised-button (click)="onLike()">
                <span>👍</span>
            </button>
            <button mat-button mat-raised-button (click)="onModify()" *ngIf="userId === post.userId || this.role === 'Admin'">
                <span>✏️</span>
            </button>
            <button mat-button mat-raised-button (click)="onDelete(post._id)" *ngIf="userId === post.userId || this.role === 'Admin'">
                <span>❌</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>