<a (click)="onViewPost()">
    <div class="post-card" [ngClass]="{ posted: buttonTextLike === 'Oops, unLike!'}">
        <!--[ngClass] les clés sont les noms de classe CSS à appliquer ; les valeurs sont les conditions qui doivent 
être remplies pour que les classes correspondantes s'appliquent.-->
        <h2>{{ post.title | titlecase }}</h2>
        <!--titlecase = pipe-->
        <p>{{ post.description }}</p>
        <img [src]="post.imageUrl" [alt]="post.title">
        <p>Créé par {{ post.nom }}</p>
        <p *ngIf="post.location === 'Lyon'">
            <!--=== 'Lyon pour filtrer uniquement les photos prises à Lyon'-->Photo prise à {{ post.location }}
        </p>
        <!--Propriété optionnelles *ngIf-->
        <!--<p>Mis en ligne {{ post.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>-->
        <!--date = pipe-->
            <button (click)="onLike()">{{ buttonTextLike }}</button>
            <span [ngStyle]="{ color: 'rgb(0, ' + post.like + ', 0)' }">👍 {{ post.like }}</span>
            <!--Style dynamique = La directive  [ngStyle]  prendra comme argument un objet où :
    les clés sont les styles CSS à modifier ;
    les valeurs sont les valeurs que doivent prendre ces styles.-->
    </div>
</a>