<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a routerLink="posts" routerLinkActive="active" *ngIf="isAuth$ | async">
          ALL POSTS
        </a>
      </li>
      <li>
        <a routerLink="new-post" routerLinkActive="active" *ngIf="isAuth$ | async">
          ADD POST
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img alt="Flame logo" src="assets/icon-left-font.png">
    </div>
    <div class="logo-text">
      <h1>
        Notre Réseau Social d'Entreprise
      </h1>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
          SIGN UP
        </a>
      </li>
      <li>
        <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
          LOGIN
        </a>
      </li>
      <li>
        <a (click)="onLogout()" *ngIf="isAuth$ | async">
          LOGOUT
        </a>
      </li>
    </ul>
  </div>
</nav>