//toolbar
.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
    img {
        margin: 0 16px;
    }
    #twitter-logo {
        height: 40px;
        margin: 0 8px;
        :hover {
            opacity: 0.8;
            background-color: blue; //à revoir
        }
    }
    #youtube-logo {
        height: 40px;
        margin: 0 16px;
        :hover {
            opacity: 0.8;
            background-color: blue; //à revoir
        }
    }
    .spacer {
        flex: 1;
    }
    ul {
        list-style: none;
        li {
            padding: 10px;
        }
    }
}