nav {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: thin solid black;
  background-color: #fd2d01;
}

h1 {
  font-size: 20px;
  margin: 25px;
}
h5 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.logo {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 1400px;
}

.logo-text {
  text-align: center;
}

.logo-image {
  flex-wrap: wrap;
  margin-top: -45px;
  margin-bottom: -45px;
  img {
    height: 250px;
  }
}

.right-nav {
  ul {
    justify-content: center;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0 13px;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  padding: 17px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  font-weight: 700;
  text-decoration: underline;
}
