/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Lato", sans-serif;
}
html,
body {
    height: 100%;
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

//card style login/signup
.main-div mat-card {
    padding: 0;
    margin-bottom: 20px;
    .main-form-div {
        padding: 20px;
    }
    mat-toolbar {
        background-color: #FFD7D7;
    }
}

.modify-add-post mat-card {
    width: 50%;
    mat-form-field {
        width: 100%;
    }
}

//post-container
.post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 13%;
    top: 25%;
    a,
    button {
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
        background-color: #FFD7D7;
    }
}
