/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    &:hover {
        text-decoration: underline;
    }
}

//card style login/signup
.main-div mat-card {
    padding: 0;
    margin-bottom: 20px;
    .main-form-div {
        padding: 20px;
    }
}
