.modify-add-post mat-card {
    width: 30%;
    @media (max-width: 1038px) {
        width: 50%;
    }
    @media (max-width: 538px) {
        width: 75%;
    }
    input[type="file"] {
        display: none;
    }
    img {
        max-width: 85%;
        padding: 10px;
    }
    .button {
        margin-top: 20px;
    }
    mat-form-field {
        width: 100%;
    }
}
