<nav>
    <div class="post-container" fxLayout="column">
        <a *ngIf="this.role === 'Admin'" mat-button mat-raised-button [routerLink]="['/admin']">Retour</a>
        <a *ngIf="this.role === 'User'" mat-button mat-raised-button [routerLink]="['/posts']">Retour</a>
    </div>
</nav>
<div class="modify-add-post" fxLayoutAlign="center center" fxLayout="column" [formGroup]="postForm" *ngIf="postForm">
    <mat-card>
        <mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label for="title">Titre</mat-label>
                <input id="title" type="text" formControlName="title" matInput>
            </mat-form-field>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label for="description">Description</mat-label>
                <textarea matInput id="description" type="text" formControlName="description" rows="4" matInput
                    placeholder="Placeholder"></textarea>
            </mat-form-field>
        </mat-card-content>
            <input type="file" accept="image/" #imageInput (change)="onAddFile($event)">
            <button mat-button mat-raised-button  (click)="imageInput.click()">Ajouter Image</button>
            <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 200px;margin-top:10px">
        <div fxLayoutAlign="center center">
            <button mat-button mat-raised-button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </mat-card>
</div>