<nav>
    <div class="post-container" fxLayout="column">
        <a mat-button [routerLink]="['/posts']">Retour</a>
    </div>
</nav>
<div fxLayoutAlign="center center" fxLayout="column" [formGroup]="postForm" *ngIf="postForm">
    <mat-card>
        <mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label for="title">Titre</mat-label>
                <input id="title" type="text" formControlName="title" matInput>
            </mat-form-field>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label for="description">Description</mat-label>
                <input id="description" type="text" formControlName="description" rows="4" matInput
                    placeholder="Placeholder">
            </mat-form-field>
        </mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Placeholder">
            <input type="file" accept="image/" #imageInput (change)="onAddFile($event)">
            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="imageInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </mat-form-field>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </mat-card>
</div>