<nav>
    <div class="post-container" fxLayout="column">
        <a mat-button mat-raised-button [routerLink]="['/posts']">Retour</a>
    </div>
</nav>
<div class="modify-add-post" fxLayoutAlign="center center" fxLayout="column" [formGroup]="postForm" *ngIf="postForm">
    <mat-card>
        <mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label for="title">Titre</mat-label>
                <input id="title" type="text" formControlName="title" matInput>
            </mat-form-field>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label for="description">Description</mat-label>
                <textarea matInput id="description" type="text" formControlName="description" rows="4" matInput
                    placeholder="Placeholder"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Placeholder">
            <input type="file" accept="image/" #imageInput (change)="onAddFile($event)">
            <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block;margin-top:10px">
        </mat-form-field>
        <div fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </mat-card>
</div>